<p id="notice"><%= notice %></p>

<%# capitalize method %>
<%=
def capitalize (input)
  input = input.split
  input.each_with_index do |ele, i|
    input[i] = ele.capitalize
  end
  return input.join(' ')
end

puts 'input'

%>


<h4>People</h4>
<div class='table-responsive'>
<table class='table table-striped table-bordered table-hover'>
  <thead class='table-light'>
    <tr>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>Prefix</th>
      <th>Address</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      <th>Education</th>
      <th>Estimated Income</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.f_name.capitalize %></td>
        <td><%= person.m_name %></td>
        <td><%= person.l_name.capitalize %></td>
        <td><%= capitalize(person.prefix) %></td>
        <td><%= capitalize(person.address1) %></td>
        <td><%= person.address2.capitalize %></td>
        <td><%= capitalize(person.city) %></td>
        <td><%= capitalize(person.state) %></td>
        <td><%= person.zipcode %></td>
        <td><%= capitalize(person.education) %></td>
        <td><%= person.estimated_income.downcase %></td>
        <td><%= link_to 'Show', person %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>