<%# capitalize method %>
<%=
def capitalize(input)
  input = input.split
  input.each_with_index do |ele, i|
    input[i] = ele.capitalize
    # capitalize names after '
    input[i] = input[i].gsub(/'[a-z]/) {|s| s.upcase }
  end
  return input.join(' ')
end
puts 'input'
%>



<div class="card mt-5 mx-3">
  <div class='card-body'>
    <h1 class='display-4'>
      Name:
      <%= capitalize(@person.f_name) %>
      <%= @person.m_name + '.' %>
      <%= capitalize(@person.l_name) %>,
    </h1>
    <h2>
      Prefix:
      <%= capitalize(@person.prefix) + '.' %>
    </h2>
    <p class='lead'>
      Address:
      <%= capitalize(@person.address1) %>,
      <%= capitalize(@person.address2) %>
      <%= capitalize(@person.city) %>
      <br>
      <%= capitalize(@person.state) %>,
      <%= @person.zipcode %>
    </p>
    <p class='lead'>
      Education level: <%= capitalize(@person.education) %>
      <br>
      Income level: <%= @person.estimated_income.downcase %>
    </p>
  </div>
</div>

<%#= link_to 'Edit', edit_person_path(@person), class:'btn btn-dark' %>
<div style='text-align:center'>
<%= link_to 'Back', people_path, class:'btn btn-secondary d-inline-block m-4' %>
</div>
