<%# capitalize method %>
<%=
def capitalize(input)
  input = input.split
  input.each_with_index do |ele, i|
    input[i] = ele.capitalize
  end
  return input.join(' ')
end
puts 'input'
%>


<div class="jumbotron">
  <h1 class='display-4'>
    <%= capitalize(@person.f_name) %>
    <%= @person.m_name + '.' %>
    <%= capitalize(@person.l_name) %>,
  </h1>
    <%= capitalize(@person.prefix) %>
  <p class='lead'>
    <%= capitalize(@person.address1) %>,
    <%= capitalize(@person.address2) %>
    <%= capitalize(@person.city) %>
    <br>
    <%= capitalize(@person.state) %>,
    <%= @person.zipcode %>
  </p>
  <p class='lead'>
    <%= capitalize(@person.education) %>
    <br>
    <%= @person.estimated_income.downcase %>
  </p>
</div>

<%#= link_to 'Edit', edit_person_path(@person), class:'btn btn-dark' %>
<%= link_to 'Back', people_path, class:'btn btn-secondary' %>
