<div class="jumbotron">
  <h1 class='display-4'>
    <%= @person.f_name %>
    <%= @person.m_name %>
    <%= @person.l_name %>,
  </h1>
    <%= @person.prefix %>
  <p class='lead'>
    <%= @person.address1 %>,
    <%= @person.address2 %>
    <%= @person.city %>
    <br>
    <%= @person.state %>,
    <%= @person.zipcode %>
  </p>
  <p class='lead'>
    <%= @person.education %>
    <br>
    <%= @person.estimated_income %>
  </p>
</div>

<%#= link_to 'Edit', edit_person_path(@person), class:'btn btn-dark' %>
<%= link_to 'Back', people_path, class:'btn btn-secondary' %>
